#entire_navbar {
  color: #12557c;
  font-size: 16px;
  background-color: #1f8dcd;
}

#logo {
  height: 11vh;
  padding-right: 24px;
}

.company {
  font-size: 32px;
  color: #12557c;
  padding-top: 16px;
  padding-right: 32px;
  margin-right: 16px;
}

.navbar-nav {
  padding-left: 2px;
  padding-right: 4px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}