.banner-button {
  background-color: rgba(143, 143, 143, .75);
  width: 200px;
  padding: 24px 16px;
  margin: 80px auto;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  text-shadow: 2px black;

}